/* *{
    margin: 0;
    padding: 0;
} */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    min-height: 600px;
    width: 100%;
}

#main{
    margin: 16px;
}

.choices{
    min-width: 500px;
    margin-top: 16px;
    padding: 10px;
}

.result{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
ul{
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

p{
    font-size: 23px;
    font-weight: 600;
}

button{
    min-width: 120px;
    padding: 15px 20px;
    background-color:crimson;
    border-radius: 10px;
    font-size: 20px;
}